<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CustomerMapper" >
    <!--强大之处在于只需要给不同的让他们对应一下就行了-->
   <resultMap id="customerResultMap" type="Customer">
       <result column="customerpassword" property="psw"></result>
   </resultMap>
    <!--根据id查询单个用户-->
    <select id="queryForOne" resultMap="customerResultMap" parameterType="Integer">
       select id,customerName,customerpassword from mybatis.customer where id = #{id}
   </select>

    <!--分页-->
    <!--注意：如果返回是一个集合，则写集合中的泛型-->
    <select id="pageList" resultType="Customer"  parameterType="map" >
        select * from mybatis.customer limit #{startIndex},#{pageSize}
    </select>


    <select id="pageList2" resultMap="customerResultMap">
        select * from mybatis.customer
    </select>

</mapper>